.grid-accueil {
    -fx-background-image: url("accueil.jpg");
    -fx-font-family: "Arial";
    -fx-background-size: 1000px 600px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.card {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #f0f4f8);
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: #dfe6e9;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0.3, 0, 4);
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-pref-width: 200;
    -fx-pref-height: 150;
    -fx-min-width: 200;
    -fx-min-height: 150;
    -fx-max-width: 200;
    -fx-max-height: 150;
}

.card-text {
    -fx-font-size: 14;
    -fx-fill: #2d3436;
    -fx-text-alignment: center;
}

.card-button {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 12 24;
    -fx-background-color: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.card-button:hover {
    -fx-background-color: linear-gradient(to right, #43e97b, #38f9d7);
}


.menu-bar-custom {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.main-root {
    -fx-background-color: #f0f0f0;
}